<div class="px-8 bg-white absolute -z-10 right-0 bottom-0 mr-8 mb-8 pr-[calc(68px+10px)] py-4 rounded-2xl border w-full flex flex-col">
    <h4 class="font-medium text-lg ">Помодоро</h4>
    <p class="text-base font-light w-full">Хотите управлять своей эффективностью? Значит этот инструмент для вас!</p>
    <div class="progress-bar flex justify-center items-center self-center" [style.background]="getProgressBarBackground()">
        <h1>{{remainingOutputTime}}</h1>
    </div>
    <button *ngIf="!remainingTime" class="mt-6 text-lg bg-branded-grey text-white px-4 py-2 rounded-2xl w-full"
        (click)="startTimer()">Начать</button>
        <button *ngIf="remainingTime" class="mt-6 text-lg bg-branded-grey text-white px-4 py-2 rounded-2xl w-full"
        (click)="stopTimer()">Завершить</button>
</div>