<div
    class="px-8 bg-white absolute  right-0 bottom-0 mr-8 mb-8 pr-[calc(68px+10px)]
    py-4 rounded-2xl border w-full">
    <h4 class="font-medium text-lg mb-2">Заметки</h4>
    <p *ngIf="selected_item" class="text-base font-light mb-4">{{selected_item.text}}</p>
    <p *ngIf="!selected_item" class="text-base font-light">Формируйте конспекты по своему усмотрению.
        Чтобы добавить новую запись наведитесь на заголовок подраздела (это те под которыми серая полоса)
        и нажмите на появившуюся кнопку. Добавленные заметки можно смотреть в конце страницы.</p>

    <textarea *ngIf="selected_item" appFocus
    placeholder="Введите подпись к заметке"
    class="py-2 rounded px-4 mr-24  font-roboto border resize-none relative w-full "
    [(ngModel)]="description" (input)="adjustTextareaHeight()"></textarea>
    <button *ngIf="selected_item" class="mt-4 text-lg bg-branded-grey text-white px-4 py-2 rounded-2xl w-full" (click)="addNote()">Добавить
        заметку</button>
    </div>