<div class="flex flex-col">
    <div class="flex border-b" *ngFor="let section of overview.sections">
        <h1 class="font-light w-1/4">{{section.section_name}}</h1>
        <lection-text class="w-3/4" [text]="section.section_content"></lection-text>
    </div>
    <div class="flex pt-8">
        <h1 class="font-light w-1/4">Преподаватель</h1>
        <div class="flex flex-col w-3/4">
            <img [src]="author.avatar" class="rounded-full aspect-square w-16 mb-4">
            <h3 class="font-medium">{{overview.author_data.name}}</h3>
            <h4 class="font-light text-hint-grey text-sm">{{overview.author_data.post}}</h4>
            <div class="mt-4 mb-4">
                <i class="bi bi-telegram text-4xl mr-2 hover:cursor-pointer" (click)="openNewWindow(author.telegram)"></i>
                <i class="bi bi-github text-4xl mr-2 hover:cursor-pointer" (click)="openNewWindow(author.telegram)"></i>
                <i class="bi bi-youtube text-4xl hover:cursor-pointer" (click)="openNewWindow(author.telegram)"></i>
            </div>
            <lection-text [text]="overview.author_data.description"></lection-text>
        </div>
    </div>
</div>