<div class="flex flex-col relative font-roboto">
  <header class="sticky top-0 left-0 w-full z-10"></header>

  <div class="flex w-full justify-between relative">

    <div class="w-3/4 mx-20 ">
      <lection></lection>
      <lection-tools></lection-tools>
    </div>
    <div class="w-1/4 sticky top-[60px] h-[calc(100vh-60px)] flex flex-col justify-between right-0 items-end">
      <sidebar class="sticky top-[60px] w-full" [data]="sidebar_data"></sidebar>
      <toolbar class="z-10"></toolbar>
    </div>
  </div>
  <footer></footer>
</div>
<div *ngIf="is_popup_open" class="mx-16 p-8 fixed bg-white inset-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-2xl border w-[70vw] h-[70vh] flex flex-col items-center">
    <h4 class="text-2xl font-medium">Обучалка</h4>
    <p class="my-4">{{tutorial_data[current_tutorial_index].text}}</p>
    <img [src]="tutorial_data[current_tutorial_index].img_src" class="h-2/3 mb-8">
    <div class="flex mt-auto">
      <button class="px-4 py-2 rounded bg-black text-white mr-8" (click)="tutorialNext()">продолжить</button>
      <button class="px-4 py-2 rounded bg-black text-white" (click)="tutorialSkip()">пропустить</button>
    </div>
</div>