
<div id="note{{data.item_id}}" class="flex border rounded-xl px-4 py-2 mb-4 hover:cursor-pointer justify-between" (click)="scrollToItem()">
    <div class="flex flex-col">
        <!-- <h3 class="font-medium text-lg">{{section.title}}.</h3> -->
        <!-- <h4 class="font-medium text-lg">{{subsection.title}}</h4> -->
        <p class="font-medium text-lg mt-2">{{data.description}}</p>
        <p class="mt-2">{{data.selected_text}}</p>
    </div>
    <div class="self-start text-2xl">
        <i class="bi bi-pencil-square" (click)="edit()"></i>
        <i class="bi bi-trash3 ml-2" (click)="delete()"></i>
    </div>
    
</div>