<div
  class="right-0 items-center mb-4 mr-4"
  >

  <toolbar-notifications *ngIf="is_open && active_item == items[2]" (onChangeToolbarState)="changeToolbarState()"></toolbar-notifications>
  <toolbar-pomodoro *ngIf="is_open && active_item == items[0]"></toolbar-pomodoro>
  <toolbar-notes *ngIf="is_open && active_item == items[1]"></toolbar-notes>

  <div class="flex flex-col bg-white rounded-full w-fit border" [ngClass]="{'pt-10 ': is_open && !active_item}">
    <div *ngIf="is_open && !active_item" class="flex flex-col items-center ">
      <div *ngFor="let item of items" class="flex flex-col items-center group hover:cursor-pointer text-3xl"
        (click)="active_item=item">
        <i class="{{item.icon}}"></i>
        <p class="text-sm pb-4 text-hint-grey opacity-0 group-hover:opacity-100 transition-opacity">{{item.text_hint}}</p>
      </div>
    </div>
    <div
      class="bg-pink-400 rounded-full aspect-square w-[80px] flex justify-center items-center hover:cursor-pointer self-end"
      (click)="changeToolbarState()">
      <i class="bi bi-sliders text-4xl"></i>
    </div>
  </div>
  
</div>