@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../node_modules/bootstrap-icons/font/bootstrap-icons';
  
.markdown h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

.markdown h4, .markdown h3, .markdown h2, .markdown h1, .markdown p, .markdown ol, .markdown ul {
  margin-bottom: 32px; 
}

.markdown h1 {
  font-size: 22px;
  font-weight: 500;
}


.markdown h2 {
  font-size: 20px;
  font-weight: 500;
}

.markdown h3 {
  font-size: 18px;
  font-weight: 500;
}

.markdown h4 {
  font-size: 16px;
  font-weight: 500;
}

.markdown p {
  font-size: 16px;
  font-weight: 400;
}

.markdown a {
  color: #0075FF;
  font-size: 16px;
  font-weight: 400;
}

.markdown p :hover {
  text-decoration: underline;
}

.markdown li::before{
  content: "-  ";
  margin-left: 5px;
}

.markdown code {
  background: #EEEEEE;
  padding: 1px 5px;
}







.markdown_example h4, .markdown_example h3, .markdown_example h2, .markdown_example h1, .markdown_example p, .markdown_example ol, .markdown_example ul {
  margin-bottom: 32px; 
}


.markdown_example h1 {
  font-size: 22px;
  font-weight: 500;
}

.markdown_example h2 {
  font-size: 20px;
  font-weight: 500;
}

.markdown_example h3 {
  font-size: 18px;
  font-weight: 500;
}

.markdown_example h4 {
  font-size: 16px;
  font-weight: 500;
}

.markdown_example h3{
  margin-top: 5px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.markdown_example p{
  margin-top: 5px;
  font-weight: 500;
}

.markdown_example li::before{
  content: "-  ";
  margin-left: 5px;
}


.markdown_example a {
  color: #0075FF;
  font-size: 16px;
  font-weight: 400;
}

.markdown_example a :hover {
  text-decoration: underline;
}

.markdown_example code {
  background: #EEEEEE;
  padding: 1px 5px;
}